# Set this to desired Abitti 2 server version number, e.g. ABITTI_VERSION=0.7.0
ABITTI_VERSION=
# This is the host IP which is sent to the name server. Leave this empty if you trust to autodetect.
HOST_IP=
# This is your API KEY given by Abitti Support
API_KEY=
# Supervisor username and password to access the supervisor view
SUPERVISOR_USERNAME=valvoja
SUPERVISOR_PASSWORD=
